<div class="container">

  <header>
    <div class="title">
      <h1>Polo Itaú</h1>
    </div>
    <div class="sub-title">
      <h3>confira abaixo alguns dos principais polos do itaú</h3>
    </div>
  </header>

  <aside>

    <div class="field-filter">
      <mat-form-field appearance="outline" class="field-full-width">
        <input matInput placeholder="Pesquisa..." (keyup)="doFilter($event)">
      </mat-form-field>
    </div>

  </aside>

  <main>

    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="business" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name. </th>
          <td mat-cell *matCellDef="let element" style="font-weight: 600"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="business">
          <th mat-header-cell *matHeaderCellDef> Business </th>
          <td mat-cell *matCellDef="let element"> {{element.business}} </td>
        </ng-container>

        <ng-container matColumnDef="valuation">
          <th mat-header-cell *matHeaderCellDef> Valuation </th>
          <td mat-cell *matCellDef="let element"> {{element.valuation | currency:'BRL':true}} </td>
        </ng-container>


        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Ativo </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="situation-business" [ngClass]="{' active': element.active,
              ' inactive': !element.active}">circle</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ação </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <a class="action" matTooltip="Detalhar">
              <mat-icon (click)="showDetail(element.id)">visibility</mat-icon>
            </a>
            <a class="action" matTooltip="Editar">
              <mat-icon (click)="goToEdition(element.id)">mode_edit</mat-icon>
            </a>
            <a class="action" matTooltip="Deletar">
              <mat-icon (click)="openDialog(element.id)">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    </div>
  </main>

</div>
