
.container{
  display: grid;
  grid-template-columns: 1vh;
  grid-template-rows: 14vh 86vh;
  grid-template-areas: "h h" "m m";
}


header {
  grid-area: h;
  background-color: #ffe0cc;
  border-bottom: 3px solid #ff7a23;
  display: grid;
  align-content: center;
  justify-content: center;
}

main {
  grid-area: m;
  background-color: #fbfbfb;
  display: grid;
  align-content: center;
  justify-content: center;
}
