.container {
  margin-top: -200px;
  display: grid;
  grid-template: 10vh 30vh 10vh/3fr 1fr;
  grid-template-areas: "h h" "m m" "f f";
  width: 80vw;
}

header {
  grid-area: h;
  display: grid;
  align-content: flex-start;
  justify-content: start;
}


main {
  grid-area: m;
  display: grid;
}

footer{
  grid-area: f;
  display: grid;
  // align-content: center;
}

table {
  width: 100%;
}


.title h1{
  font-size: 3.0em;
  font-weight: 500;
}

.sub-title h3{
  font-size: 1.5em;
  color: #767676;
}


mat-form-field{
  padding: 0px 15px 0px;
}

.title-description {
  font-size: 1.2em;
  font-weight: 300;
  padding: 0px 0px 15px;
}

.andress, .entity {
  padding: 30px 0px 0px;
}


.fied-full-width {
  width: 40%;
}

mat-form-field{
  font-size: 1.3em;
}

.field-cep{
  float: left;
}

.button-row{
  margin-top: 5%;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  color: white;
  font-size: 1.3em;
}

.button-back {
  background-color: #989898;
  height: 50px;
}


.button-save {
  background-color: #fa8341;
  width: 10%;
  height: 50px;
}
