<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container">

    <header>

      <div class="title">
        <h1>{{'form-negociacao.titulo' | translate}} {{name}}</h1>
      </div>

      <div class="sub-title">
        <h3>{{'form-negociacao.sub-titulo' | translate}} {{name}} #{{form.value.id}} </h3>
      </div>

    </header>


    <main>

      <div class="andress">

        <div class="title-description">
          <p>{{'form-negociacao.detalhes-endereco' | translate}}</p>
        </div>

        <div class="field-cep">
          <app-cep-input (loadAndress)="loadAndress($event)" [cpe]="form.value.cep"></app-cep-input>
        </div>

        <mat-form-field appearance="outline" class="fied-full-width">
          <input matInput formControlName="street" name="street" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="district" name="district" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="state" name="state" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="city" name="city" placeholder="Placeholder">
        </mat-form-field>

      </div>


      <div class="entity">

        <div class="title-description">
          <p> {{'form-negociacao.detalhes-empresa' | translate}}</p>
        </div>

        <mat-form-field appearance="outline" style="padding: 0px 0px 0px;">
          <mat-label>{{'listagem.formulario.nome'  | translate}}</mat-label>
          <input matInput formControlName="name" name="name" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'listagem.formulario.negocio'  | translate}}</mat-label>
          <input matInput formControlName="business" name="business" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{'listagem.formulario.avaliacao'  | translate}}</mat-label>
          <input matInput formControlName="valuation" name="valuation" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" name="cnpj" placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> {{'listagem.formulario.ativo'  | translate}} ?</mat-label>
          <mat-select formControlName="active" [disabled]="!isCreateOrUpdateEntity">
            <mat-option *ngFor="let active of actives" [value]="active">
              {{active | descriptionActive | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </main>

    <footer>
      <div class="button-row">
        <button mat-raised-button class="button-back" type="button" (click)="back()">
          {{'form-negociacao.botao-voltar' | translate}}
        </button>
        <button mat-raised-button class="button-save" *ngIf="isCreateOrUpdateEntity" type="submit"
          [disabled]="!form.valid">{{'form-negociacao.botao-salvar' | translate}}
        </button>
      </div>
    </footer>

  </div>
</form>
